body {
  background-color: #201e1e;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.hero{
  color:white;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  border-radius: 8px;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.get-2{
  background-color: white;
  color: #201e1e;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
}


.section {
  max-width: 900px;
  margin: 50px auto;
  padding: 50px 50px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section li {
  margin: 10px 0;
}

.section a {
  color: #201e1e;
  text-decoration: none;
  font-size: 1.2rem;
}

.main-white {
  background-color: white;
  color: #201e1e;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:25px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
