/* Global styles */
body {
  background-color: #201e1e;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #1a1a1a;
}

.hero {
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

nav a:hover {
  color: #77d42a;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 5rem auto;
  padding: 5rem;
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 8px;
  color:black;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}

h2 {
  font-size: 3rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.get-2 {
  background-color: #77d42a;
  color: #fff;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 3rem;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.get-2:hover {
  background-color: #5cb811;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 2rem;
  background-color: #1a1a1a;
}

/* Section styles */
.section {
  max-width: 900px;
  margin: 5rem auto;
  padding: 5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.section h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.section p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section li {
  margin: 1rem 0;
}

.section a {
  color: #77d42a;
  text-decoration: none;
  font-size: 1

}

/* Custom button styles */
.myButton {
background-color: #77d42a;
color: black;
border: none;
padding: 2rem 3rem;
font-size: 1.2rem;
cursor: pointer;
border-radius: 6px;
box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease;
}

.myButton:hover {
background-color: #5cb811;
}

.myButton:active {
position: relative;
top: 1px;
box-shadow: none;
}
